n8n/4_Relances.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        -32
      ],
      "id": "458a0e5b-51e7-438c-ae68-4f768a723210",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        448,
        -32
      ],
      "id": "259c1b22-687f-4da3-942c-ffaddf012865",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// ⚙️ ZONE DE CONFIGURATION PERSONNALISABLE\n// ============================================================\nconst UNITE_TEMPS = 'minutes'; // Options : 'minutes' ou 'days' (jours)\n\nconst TEMPS_RELANCE_1 = 2; // Relance 1 : déclenchée après X minutes (ou jours)\nconst TEMPS_RELANCE_2 = 5; // Relance 2 : déclenchée après X minutes (ou jours)\nconst TEMPS_RELANCE_3 = 7; // Relance 3 : déclenchée après X minutes (ou jours)\n\n// ============================================================\n// 🧠 LOGIQUE DE CALCUL ET GÉNÉRATION\n// ============================================================\n\n// 1. Les infos de la Demande viennent de la boucle (Loop Over Items)\nconst clientName = $('Loop Over Items').item.json.fields.Nom_Client || 'Client';\nconst statutDemande = $('Loop Over Items').item.json.fields.Statut;\nconst idDemande = $('Loop Over Items').item.json.fields.ID_Demande; // C'est lui qu'on utilise partout maintenant\n\n// 2. La date du Devis vient du nœud précédent ($input)\nconst dateCreationDevis = $input.item.json.fields['Dernière modification'];\n\n// Sécurité : Si on ne trouve pas de date, on dit au flux de ne rien faire\nif (!dateCreationDevis) {\n    return { json: { action: 'Rien' } };\n}\n\n// Calcul de la différence de temps\nconst dateDevis = new Date(dateCreationDevis);\nconst maintenant = new Date();\nconst differenceMs = maintenant - dateDevis;\n\nlet differenceTemps = differenceMs / (1000 * 60); // Minutes par défaut\nif (UNITE_TEMPS === 'days') {\n    differenceTemps = differenceMs / (1000 * 60 * 60 * 24); // Conversion en jours\n}\n\nlet relanceType = 'Rien';\nlet sujet = '';\nlet texte = '';\nlet nouveau_statut = '';\n\n// --- MATRICE DE DÉCISION ET GÉNÉRATION DES MAILS ---\n\nif (statutDemande === 'Devis_Transmis' && differenceTemps >= TEMPS_RELANCE_1) {\n    relanceType = 'Relance_J2';\n    sujet = `[Devis n°${idDemande}] NeoTravel - Votre projet de voyage (Suivi de votre devis)`;\n    texte = `Bonjour ${clientName},\\n\\nJe reviens vers vous suite à l'envoi de notre proposition tarifaire pour votre transport de groupe.\\n\\nAvez-vous pu en prendre connaissance ? Je reste à votre entière disposition si vous avez la moindre question concernant l'itinéraire ou le véhicule sélectionné.\\n\\nBelle journée,\\nL'équipe NeoTravel`;\n    nouveau_statut = 'Relance_1';\n} \nelse if (statutDemande === 'Relance_1' && differenceTemps >= TEMPS_RELANCE_2) {\n    relanceType = 'Relance_J5';\n    sujet = `[Devis n°${idDemande}] NeoTravel - Des questions sur votre devis de transport ?`;\n    texte = `Bonjour ${clientName},\\n\\nLe temps passe vite ! Je vous rappelle que les tarifs et la disponibilité des véhicules de notre proposition commerciale sont garantis pour une durée de 15 jours.\\n\\nSi vous souhaitez bloquer votre réservation ou ajuster certains détails de votre trajet, n'hésitez pas à revenir vers moi.\\n\\nCordialement,\\nL'équipe NeoTravel`;\n    nouveau_statut = 'Relance_2';\n} \nelse if (statutDemande === 'Relance_2' && differenceTemps >= TEMPS_RELANCE_3) {\n    relanceType = 'Relance_J7';\n    sujet = `[Devis n°${idDemande}] NeoTravel - Dernier rappel concernant votre proposition commerciale`;\n    texte = `Bonjour ${clientName},\\n\\nSans retour de votre part concernant votre demande de transport de groupe, nous allons devoir clôturer votre dossier pour libérer le véhicule pour d'autres clients.\\n\\nSi votre projet est toujours d'actualité, merci de nous en informer au plus vite afin que nous puissions maintenir vos options de voyage.\\n\\nRestant à votre disposition,\\nL'équipe NeoTravel`;\n    nouveau_statut = 'Relance_3';\n}\n\n// CORRECTION : Si le temps n'est pas écoulé, on renvoie une vraie donnée pour la condition IF\nif (relanceType === 'Rien') {\n    return { json: { action: 'Rien' } };\n}\n\n// Si c'est validé, on envoie les infos avec l'action \"Envoyer\"\nreturn {\n    json: {\n        action: 'Envoyer',\n        id_demande: idDemande,\n        type_relance: relanceType,\n        temps_ecoule: differenceTemps.toFixed(1) + ' ' + UNITE_TEMPS,\n        sujet: sujet,\n        texte: texte,\n        nouveau_statut: nouveau_statut\n    }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        -32
      ],
      "id": "9bee608d-0154-4e21-8d35-b0a8c2c7f003",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appqJ7LO7TyFkLQ6h",
          "mode": "list",
          "cachedResultName": "NeoTravel V2 - Option A",
          "cachedResultUrl": "https://airtable.com/appqJ7LO7TyFkLQ6h"
        },
        "table": {
          "__rl": true,
          "value": "tblIxlPvgHVdJ9LmR",
          "mode": "list",
          "cachedResultName": "Demandes_Schema",
          "cachedResultUrl": "https://airtable.com/appqJ7LO7TyFkLQ6h/tblIxlPvgHVdJ9LmR"
        },
        "filterByFormula": "=OR({Statut} = 'Devis_Transmis', {Statut} = 'Relance_1', {Statut} = 'Relance_2')",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        224,
        -32
      ],
      "id": "d6b1b668-1be9-4c2e-8995-12d3109ed053",
      "name": "Search_Devis_Schema",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "dlOspPYGINM1Oosb",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "base": {
          "__rl": true,
          "value": "appqJ7LO7TyFkLQ6h",
          "mode": "list",
          "cachedResultName": "NeoTravel V2 - Option A",
          "cachedResultUrl": "https://airtable.com/appqJ7LO7TyFkLQ6h"
        },
        "table": {
          "__rl": true,
          "value": "tbl3GuInzlUgtA7PK",
          "mode": "list",
          "cachedResultName": "Devis_Schema",
          "cachedResultUrl": "https://airtable.com/appqJ7LO7TyFkLQ6h/tbl3GuInzlUgtA7PK"
        },
        "id": "={{ $('Loop Over Items').item.json.fields.Devis_Schema[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        672,
        -32
      ],
      "id": "104fe338-683c-4454-89b1-91eb77f0a24b",
      "name": "Get_Devis_Schema",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "dlOspPYGINM1Oosb",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Loop Over Items').item.json.fields.Email_Client }}",
        "subject": "={{ $json.sujet }}",
        "message": "={{ $json.texte }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1344,
        -32
      ],
      "id": "01e7b43f-6037-4198-af10-9b68ac83aa5f",
      "name": "Send a message",
      "webhookId": "b7d99bd1-ae8c-427a-a3b7-a9910a765265",
      "credentials": {
        "gmailOAuth2": {
          "id": "DK6KEVUIWmIYruo0",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appqJ7LO7TyFkLQ6h",
          "mode": "list",
          "cachedResultName": "NeoTravel V2 - Option A",
          "cachedResultUrl": "https://airtable.com/appqJ7LO7TyFkLQ6h"
        },
        "table": {
          "__rl": true,
          "value": "tblkJq9PZQgHhLwr0",
          "mode": "list",
          "cachedResultName": "Relances_Schema",
          "cachedResultUrl": "https://airtable.com/appqJ7LO7TyFkLQ6h/tblkJq9PZQgHhLwr0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Demande_Associee": "={{  $('Loop Over Items').item.json.id  }}",
            "Type_Relance": "={{ $('Code in JavaScript').item.json.nouveau_statut }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID_Relance",
              "displayName": "ID_Relance",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Demande_Associee",
              "displayName": "Demande_Associee",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Type_Relance",
              "displayName": "Type_Relance",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Relance_1",
                  "value": "Relance_1"
                },
                {
                  "name": "Relance_2",
                  "value": "Relance_2"
                },
                {
                  "name": "Relance_3",
                  "value": "Relance_3"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date_Envoi_Prevue",
              "displayName": "Date_Envoi_Prevue",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        1568,
        -32
      ],
      "id": "09226600-972a-4197-ac02-13cbab878096",
      "name": "Create_Relances_Schema",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "dlOspPYGINM1Oosb",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appqJ7LO7TyFkLQ6h",
          "mode": "list",
          "cachedResultName": "NeoTravel V2 - Option A",
          "cachedResultUrl": "https://airtable.com/appqJ7LO7TyFkLQ6h"
        },
        "table": {
          "__rl": true,
          "value": "tblIxlPvgHVdJ9LmR",
          "mode": "list",
          "cachedResultName": "Demandes_Schema",
          "cachedResultUrl": "https://airtable.com/appqJ7LO7TyFkLQ6h/tblIxlPvgHVdJ9LmR"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Loop Over Items').item.json.id }}",
            "Statut": "={{ $('Code in JavaScript').item.json.nouveau_statut }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "ID_Demande",
              "displayName": "ID_Demande",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Date_Creation",
              "displayName": "Date_Creation",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Nom_Client",
              "displayName": "Nom_Client",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email_Client",
              "displayName": "Email_Client",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Numero_Tel",
              "displayName": "Numero_Tel",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Statut",
              "displayName": "Statut",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Nouveau",
                  "value": "Nouveau"
                },
                {
                  "name": "Devis_Ok",
                  "value": "Devis_Ok"
                },
                {
                  "name": "Devis_Transmis",
                  "value": "Devis_Transmis"
                },
                {
                  "name": "Humain",
                  "value": "Humain"
                },
                {
                  "name": "Relance_1",
                  "value": "Relance_1"
                },
                {
                  "name": "Relance_2",
                  "value": "Relance_2"
                },
                {
                  "name": "Relance_3",
                  "value": "Relance_3"
                },
                {
                  "name": "Accepte",
                  "value": "Accepte"
                },
                {
                  "name": "Refuse",
                  "value": "Refuse"
                },
                {
                  "name": "Cloture",
                  "value": "Cloture"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Type_Intervention_Humn",
              "displayName": "Type_Intervention_Humn",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [
                {
                  "name": "Urgence",
                  "value": "Urgence"
                },
                {
                  "name": "International",
                  "value": "International"
                },
                {
                  "name": "Hors-Capacite",
                  "value": "Hors-Capacite"
                },
                {
                  "name": "Standard",
                  "value": "Standard"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Type_Trajet",
              "displayName": "Type_Trajet",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Aller-Simple",
                  "value": "Aller-Simple"
                },
                {
                  "name": "Aller-Retour",
                  "value": "Aller-Retour"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Ville_Depart",
              "displayName": "Ville_Depart",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Ville_Arrivee",
              "displayName": "Ville_Arrivee",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Distance_Saisie_M",
              "displayName": "Distance_Saisie_M",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Date_Depart",
              "displayName": "Date_Depart",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Date_Retour",
              "displayName": "Date_Retour",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Nombre_Passagers",
              "displayName": "Nombre_Passagers",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Option_Guide",
              "displayName": "Option_Guide",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Oui",
                  "value": "Oui"
                },
                {
                  "name": "Non",
                  "value": "Non"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Contexte_Message",
              "displayName": "Contexte_Message",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Cle_Idempotence",
              "displayName": "Cle_Idempotence",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Devis_Schema",
              "displayName": "Devis_Schema",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relances_Schema",
              "displayName": "Relances_Schema",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Logs_Observabilite",
              "displayName": "Logs_Observabilite",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        1792,
        48
      ],
      "id": "f2bc1029-c1ac-4cd3-9684-8e1a070114cb",
      "name": "Update record",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "dlOspPYGINM1Oosb",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ee3743ac-6861-409c-abe3-91284b407f6c",
              "leftValue": "={{ $json.action }}",
              "rightValue": "Envoyer",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1120,
        -32
      ],
      "id": "cd3e3416-b32d-4965-9f68-23647f4da79a",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        672,
        -224
      ],
      "id": "9726c2a0-9400-44da-a626-5984352dc926",
      "name": "No Operation, do nothing"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search_Devis_Schema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get_Devis_Schema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search_Devis_Schema": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_Devis_Schema": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Create_Relances_Schema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create_Relances_Schema": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update record": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ec94c016adc5de47fd4fbf16669656bd7ed30cbdfd9303a21104c07c79b6e458"
  }
}